In [1]:
# Importing necessary lbiraries

import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
import shutil
import requests
from selenium.webdriver.chrome.options import Options
import os
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
# Creating empty list to store labels 
labels = []

In [3]:
# function to create a directory

def directory(folder):
    img_dir = os.path.join(os.getcwd(), folder)
    if not os.path.exists(img_dir):
        os.makedirs(img_dir)
        
    return folder

In [4]:
# Calling the above function

folder = directory("data")

In [5]:
# Function for scraping, downloading and storing the required images/data.

def images(url, folder, labels, label):
    
    # Opening drive 
    chrome_options = Options()
    chrome_options.add_argument("--incognito")
    driver = webdriver.Chrome(r"D:\sanss_data\FlipRobo\chromedriver.exe", options=chrome_options)
    amazon_url = driver.get(url)
    
    time.sleep(3)

    # Locating the search bar
    search_bar = driver.find_element_by_id("twotabsearchtextbox")
    search_bar.clear()
    category = input('Search Category : ')
    search_bar.send_keys(category)

    #locating the button and clicking it to search the category
    button = driver.find_element_by_id('nav-search-submit-button')
    button.click()

    time.sleep(3)
    
    # Creating empty list fto sotre data
    image_urls = []
    
    # Loop for iterating the pages and thus scraping the images
    for page in range(1, 6):
        print('\nPage', page)
        
        time.sleep(3)

        # Giving path of the images to be scrapped
        images = driver.find_elements_by_xpath("//img[@class = 's-image']")

        # Getting the source/link of the images.
        for img in images:
            source = img.get_attribute('src')
            image_urls.append(source)
    
        # Downloading the images and saving the same in the respective directory.
        for i, image_link in enumerate(image_urls):
            response = requests.get(image_link)

            # Downloading the images
            image_name = folder + '/' + category + '_' + str(i+1) + '.jpg'
            with open(image_name, 'wb') as file:
                file.write(response.content)

        time.sleep(3)
        
        print("Downloads of images from Page", page, "is completed! \n")
        
        time.sleep(3)

        # Moving to the next page.
        next_page = driver.find_element_by_xpath("//li[@class = 'a-last']/a")
        next_page.click()
        
    print("Total images downlaoded of", str(category), ": ", len(image_urls))
    for i in image_urls:
        labels.append(label)

In [6]:
print(len(labels))

0

### Jeans

In [7]:
# Calling the function and scraping the 'Sarees (women)' category images.

images("https://www.amazon.com/", folder, labels, 0)

Search Category : Jeans (men)

Page 1
Downloads of images from Page 1 is completed!


Page 2
Downloads of images from Page 2 is completed!


Page 3
Downloads of images from Page 3 is completed!


Page 4
Downloads of images from Page 4 is completed!


Page 5
Downloads of images from Page 5 is completed!

Total images downlaoded of Jeans (men) :  200

In [8]:
len(labels)

200

### Sarees

In [9]:
# Calling the function and scraping the 'Sarees (women)' category images.

images("https://www.amazon.com/", folder, labels, 1)

Search Category : Sarees (women)

Page 1
Downloads of images from Page 1 is completed!


Page 2
Downloads of images from Page 2 is completed!


Page 3
Downloads of images from Page 3 is completed!


Page 4
Downloads of images from Page 4 is completed!


Page 5
Downloads of images from Page 5 is completed!

Total images downlaoded of Sarees (women) :  285

In [10]:
len(labels)

485

### Trousers

In [11]:
# Calling the function and scraping the 'Sarees (women)' category images.

images("https://www.amazon.com/", folder, labels, 2)

Search Category : Trousers (men)

Page 1
Downloads of images from Page 1 is completed!


Page 2
Downloads of images from Page 2 is completed!


Page 3
Downloads of images from Page 3 is completed!


Page 4
Downloads of images from Page 4 is completed!


Page 5
Downloads of images from Page 5 is completed!

Total images downlaoded of Trousers (men) :  200

In [12]:
len(labels)

685

In [13]:
# COnverting the 'labels' list into dataframe.

df = pd.DataFrame(labels)
df

     0
0    0
1    0
2    0
3    0
4    0
..  ..
680  2
681  2
682  2
683  2
684  2

[685 rows x 1 columns]

In [14]:
# Saving the scrapped data labels in csv format.

df.to_csv("data.csv", index = False)